<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/v4-shims.css">
</head>

<body>
    <div class="heading">
        <h1 class="text-large font-extrabold">
            <span>Hello </span>
            <span class="emoji-wiggle">👋</span>
            <span>, I'm </span>
            <span class="text-highlight text-spring">Rafferty</span>
        </h1>
        <p class="font-bold text-small text-subtext">
            I am an {{age}}-year-old undergraduate student from the United Kingdom, currently studying a <span
                class="text-highlight">Bachelor of
                Science (Hons) in Cyber Security</span>. I have developed a passion for all things computing, and a
            particular interest in computer security and backend development.
        </p>
        <div class="contact-list">
            {{#each contact}}
            <a href="{{this.link}}" target="_blank" class="text-highlight"><i class="{{this.icon}} fa-2xl"
                    style="display: inline-block;"></i></a>
            {{/each}}
        </div>
    </div>

    <div class="main">
        <div class="section">
            <h1 class="text-medium font-extrabold">
                Skills <span class="text-highlight">&</span> Interests
            </h1>
            <p class="font-bold text-small text-subtext">
                I have dedicated a lot of my free time to developing skills in many areas of
                computing, from completing cyber security challenges and researching topics i find interesting, to
                working on a number of personal projects.
            </p>
            <div class="grid cols-3">
                {{#each skills}}
                <div class="container container-dark container-highlight">
                    <h2 class="text-center">
                        <i class="{{this.icon}}"></i>
                        {{this.name}}
                    </h2>
                    <p class="text-subtext text-center">{{this.description}}</p>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="section">
            <h1 class="text-medium font-extrabold">
                Projects
            </h1>
            <p class="font-bold text-small text-subtext">
                I have applied the skills i have attained to both my academic studies and some personal
                projects. A
                few of which have been made public with my favourites listed below and others available on my <a
                    href="{{contact.github.link}}" target="_blank" class="text-highlight">GitHub</a>
                profile.
            </p>
            <div class="grid cols-2">
                {{#each projects}}
                <a href="{{this.link}}" class="container container-dark container-highlight">
                    <h2 class="text-center">
                        {{this.name}} <i class="fa-solid fa-arrow-up-right-from-square text-highlight"
                            style="display: inline-block;"></i>
                    </h2>
                    <p class="text-subtext text-center">{{this.description}}</p>
                </a>
                {{/each}}
            </div>
        </div>
        <div class="section">
            <h1 class="text-medium font-extrabold">
                Education
            </h1>

            <div class="grid cols-1">
                {{#each education}}
                <div class="container container-dark container-highlight">
                    <p class="text-subtext text-highlight" style="margin-bottom: 0.5em;">{{this.timescale}}</p>
                    <h2 style="margin-top: 0;">
                        {{this.name}}
                    </h2>
                    <p class=" text-subtext" style="margin-bottom: 0;">{{this.description}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>

</html>